<div class="padding">
	<div class="margin">
		<h5 class="m-b-0 _300">Hola Valeriu Andrei ¿Qué tal?</h5>
		<small class="text-muted">Éste es el portal de tu ayuda con la beca recibida.</small>
	</div>
	<div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box p-a">
          <div class="pull-left m-r">
            <span class="w-40 {{app.setting.theme.warn}} text-center rounded">
              <i class="material-icons">local_cafe</i>
            </span>
          </div>
          <div class="clear">
            <h4 class="m-a-0 text-md"><a href>75 <span class="text-sm">Cafés</span></a></h4>
            <small class="text-muted">6 hoy.</small>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box-color p-a {{app.setting.theme.primary}}">
          <div class="pull-right m-l">
            <span class="w-40 dker text-center rounded">
              <i class="material-icons">today</i>
            </span>
          </div>
          <div class="clear">
            <h4 class="m-a-0 text-md"><a href>71 <span class="text-sm">Días</span></a></h4>
            <small class="text-muted">29 restantes.</small>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box p-a">
          <div class="pull-right m-l">
            <span class="w-40 {{app.setting.theme.accent}} text-center rounded">
              <i class="material-icons">landscape</i>
            </span>
          </div>
          <div class="clear">
            <h4 class="m-a-0 text-md"><a href>13 <span class="text-sm">visitas</span></a></h4>
            <small class="text-muted">15 restantes.</small>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="box-color p-a {{app.setting.theme.accent}}">
          <div class="pull-left m-r">
            <span class="w-40 dker text-center rounded">
              <i class="material-icons">comment</i>
            </span>
          </div>
          <div class="clear">
            <h4 class="m-a-0 text-md"><a href>69 <span class="text-sm">Comments</span></a></h4>
            <small class="text-muted">5 approved.</small>
          </div>
        </div>
      </div>
	</div>





						  <div class="row">
						    <div class="col-sm-12 col-md-12">


<h4 class="m-a-0 m-b-sm text-md">¿Qué comer?</h4>


						<div class="m-b" id="accordion">

			        <div class="panel box no-border m-b-xs">

			          <div class="box-header p-y-sm">
			            <span class="pull-right label text-sm">Arroz y Filete</span>
			            <a data-toggle="collapse" data-parent="#accordion" data-target="#c_1">
			              Lunes
			            </a>
			          </div>
			          <div id="c_1" class="collapse in">
			            <div class="box-body">


										<div class="row m-b">
											<div class="col-sm-8">
												<div class="box">
													<div class="box-header {{app.setting.theme.primary}}">
														<h3>Arroz a la cubana</h3>
														<small>Comida (10min)</small>
														<div class="box-tool">
															<ul class="nav">
																<li class="nav-item inline">
																	<a class="nav-link">
																		<i class="material-icons md-18">&#xe863;</i>
																	</a>
																</li>
																<li class="nav-item inline dropdown">
																	<a class="nav-link" data-toggle="dropdown">
																		<i class="material-icons md-18">&#xe5d4;</i>
																	</a>
																	<div class="dropdown-menu dropdown-menu-scale pull-right">
																		<a class="dropdown-item" href>Action</a>
																		<a class="dropdown-item" href>Another action</a>
																		<a class="dropdown-item" href>Something else here</a>
																		<div class="dropdown-divider"></div>
																		<a class="dropdown-item">Separated link</a>
																	</div>
																</li>
																<li class="nav-item inline">
																	<a class="nav-link" ng-click="verComidaLunes1()">
																		<i class="material-icons md-18">arrow_drop_down</i>
																	</a>
																</li>
															</ul>
														</div>
													</div>
													<div class="box-body" ng-show="verComidaLunes1==='true'">

														<!-- Ingredientes de la comida -->
														<h6 class="text-center">Ingredientes</h6>
														<div class="list-group m-b">
															<a href class="list-group-item b-l-success">
																<span class="pull-right label success">200g</span>
																Arroz
															</a>
															<a href class="list-group-item b-l-success">
																<span class="pull-right label success">10ml</span>
																Aceite
															</a>
															<a href class="list-group-item b-l-danger">
																<span class="pull-right label danger">2 ud.</span>
																Huevo
															</a>
															<a href class="list-group-item b-l-success">
																<span class="pull-right label success">100ml</span>
																Salsa de tomate
															</a>
															<a href class="list-group-item b-l-danger">
																<span class="pull-right label danger">1 ud.</span>
																Ajo
															</a>
														</div>

														<!-- Preparación de la comida -->
														<div class="list-group list-group-gap m-b">
															<h6 class="text-center">Preparación</h6>

															<a href class="list-group-item">
																Lo primero que hacemos es cocer el arroz con un poco de sal
															</a>
															<a href class="list-group-item">
																Mientras se cuece el arroz prepararemos la salsa de tomate, aunque si lo prefieres puedes comprarla hecha ya.
															</a>
															<a href class="list-group-item">
																Para la salsa de tomate picaremos media cebolla grande y un diente de ajo, lo doramos en una sartén con aceite de oliva y agregamos una lata de tomate triturado. Recomiendo añadirle algunas especias como tomillo o Albahaca, a parte de la sal y una pizca de azúcar para quitar la acidez del tomate
															</a>
															<a href class="list-group-item">
																Una vez hecho este sofrito vamos a pasarlo por la batidora, quedará una salsa riquísima.
															</a>
															<a href class="list-group-item">
																Añadimos la salsa a nuestro arroz cocido y freímos unos huevos, que colocaremos encima del arroz
															</a>
														</div>


													</div>
												</div>
											</div>

											<!-- Foto comida -->
											<div class="col-sm-4" ng-show="verComidaLunes1==='true'">
												<div class="box">
													<div class="box-body">
														<p class="m-a-0"><img style="width:100%" src="../img/arrozcubana.jpg"></p>
													</div>
												</div>
											</div>

											<!-- Cena -->
											<div class="col-sm-8">
												<div class="box">
													<div class="box-header {{app.setting.theme.accent}}">
														<h3>Filete de ternera</h3>
														<small>Cena</small>
													</div>
													<div class="box-body">

														<!-- Ingredientes de la cena -->
														<h6 class="text-center">Ingredientes</h6>
														<div class="list-group m-b">
															<a href class="list-group-item b-l-success">
																<span class="pull-right label success">2 ud.</span>
																Filetes de ternera
															</a>
															<a href class="list-group-item b-l-success">
																<span class="pull-right label success">1 ud.</span>
																Pastilla de Avecrem Dúo Guisos de Carne
															</a>
															<a href class="list-group-item b-l-danger">
																<span class="pull-right label danger">1 cda.</span>
																Harina
															</a>
															<a href class="list-group-item b-l-success">
																<span class="pull-right label success">1 ud.</span>
																Cebolla
															</a>
															<a href class="list-group-item b-l-danger">
																<span class="pull-right label danger">1 chorro</span>
																Aceite de oliva
															</a>
														</div>

														<!-- Preparación de la cena -->
														<div class="list-group list-group-gap m-b">
															<h6 class="text-center">Preparación</h6>

															<a href class="list-group-item">
																Sazona los filetes con sal y pimienta y enharínalos. Sofríelos en una sartén con un chorro de aceite de oliva. Cuando estén dorados, resérvalos.
															</a>
															<a href class="list-group-item">
																En el mismo aceite de la sartén, añade la cebolla, los ajos y el perejil, todo picado. Cuando la cebolla esté transparente, incorpora la cucharada de harina y remueve para que quede homogéneo. Agrega el vino y sigue removiendo hasta que comience a hervir.
															</a>
															<a href class="list-group-item">
																Añade la salsa sobre los filetes junto con la pastilla de Avecrem Dúo Guisos de Carne desmenuzada, y remueve bien.
															</a>
															<a href class="list-group-item">
																Deja cocer el conjunto durante 25 minutos a fuego medio, removiendo de vez en cuando. Mientras, fríe las patatas en abundante aceite de oliva y sírvelas de guarnición al plato.
															</a>
														</div>



													</div>
												</div>
											</div>

											<!-- Foto cena -->
											<div class="col-sm-4">
												<div class="box">
													<div class="box-body">
														<p class="m-a-0"><img style="width:100%" src="../img/filetepatatas.jpg"></p>
													</div>
												</div>
											</div>



			            </div>
			          </div>
			        </div>
						</div>
			        <div class="panel box no-border m-b-xs">
			          <div class="box-header p-y-sm">
			            <span class="pull-right label text-sm">430</span>
			            <a data-toggle="collapse" data-parent="#accordion" data-target="#c_2">
			              Martes
			            </a>
			          </div>
			          <div id="c_2" class="collapse">
			            <div class="box-body">
			              <p class="text-sm text-muted"><span class="text-md pull-left w-32 m-r rounded info">A</span> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
			              </p>
			            </div>
			          </div>
			        </div>
			        <div class="panel box no-border m-b-xs">
			          <div class="box-header p-y-sm">
			            <span class="pull-right label text-sm">230</span>
			            <a data-toggle="collapse" data-parent="#accordion" data-target="#c_3">
			              Miercoles
			            </a>
			          </div>
			          <div id="c_3" class="collapse">
			            <div class="box-body">
			              <span class="text-md pull-left w-32 m-r rounded warning">A</span>
			              <p class="text-sm text-muted clear">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
			              </p>
			            </div>
			          </div>
			        </div>
			        <div class="panel box no-border m-b-xs">
			          <div class="box-header p-y-sm">
			            <span class="pull-right label text-sm">49</span>
			            <a data-toggle="collapse" data-parent="#accordion" data-target="#c_4">
			              Jueves
			            </a>
			          </div>
			          <div id="c_4" class="collapse">
			            <div class="box-body">
			              <span class="text-md pull-left w-32 m-r rounded primary">A</span>
			              <p class="text-sm text-muted clear">Vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. nesciunt you probably haven't heard of them accusamus labore sustainable
			              </p>
			            </div>
			          </div>
			        </div>
			        <div class="panel box no-border m-b-xs">
			          <div class="box-header p-y-sm">
			            <span class="pull-right label text-sm">6</span>
			            <a data-toggle="collapse" data-parent="#accordion" data-target="#c_5">
			              Viernes
			            </a>
			          </div>
			          <div id="c_5" class="collapse">
			            <div class="box-body">
			              <span class="text-md pull-left w-32 m-r rounded dark">A</span>
			              <p class="text-sm text-muted clear">Vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. nesciunt you probably haven't heard of them accusamus labore sustainable
			              </p>
			            </div>
			          </div>
			        </div>
			      </div>




</div>
</div>





	<div class="row-col box">
        <div class="col-sm-8">
    		<div class="box-header">
	          <h3>Activities</h3>
	          <small>Your last activity is posted 4 hours ago</small>
	        </div>
	        <div class="box-body">
	            <div ui-jp="plot" ui-refresh="app.setting.color" ui-options="
	              [
	                {
	                  data: {{p_l_1}},
	                  bars: { show: true, barWidth: 0.2, align: 'left', lineWidth: 1, fillColor: { colors: [{ opacity: 0.6 }, { opacity: 1}] } }
	                },
	                {
	                  data: {{p_l_2}},
	                  bars: { show: true, barWidth: 0.2, align: 'right', lineWidth: 1, fillColor: { colors: [{ opacity: 0.6 }, { opacity: 1}] } }
	                }
	              ],
	              {
	                colors: ['{{app.setting.color.primary}}','{{app.setting.color.warn}}'],
	                series: { shadowSize: 3 },
	                xaxis: { show: true, font: { color: '#ccc' }, position: 'bottom' },
	                yaxis:{ show: true, font: { color: '#ccc' }},
	                grid: { hoverable: true, clickable: true, borderWidth: 0, color: 'rgba(120,120,120,0.5)' },
	                tooltip: true,
	                tooltipOpts: { content: '%x.0 is %y.4',  defaultTheme: false, shifts: { x: 0, y: -40 } }
	              }
	            " style="height:200px" >
	            </div>
	        </div>
        </div>
        <div class="col-sm-4 dker">
			<div class="box-header">
				<h3>Reports</h3>
			</div>
			<div class="box-body">
				<p class="text-muted m-b-md">Dales nisi nec adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis</p>
				<button class="md-btn md-raised m-b-sm p-x success">Read more</button>
			</div>
        </div>
    </div>

	<div class="row">
	    <div class="col-md-12 col-xl-4">
	        <div class="box">
	          <div class="box-header">
	            <h3>Tu progreso</h3>
	            <small>Detalles de tu beca</small>
	          </div>
	          <div class="box-tool">
		        <ul class="nav">
		          <li class="nav-item inline">
		            <a class="nav-link">
		              <i class="material-icons md-18">&#xe863;</i>
		            </a>
		          </li>

		        </ul>
		      </div>
	          <div class="text-center b-t">
	            <div class="row-col">
	              <div class="row-cell p-a">
	                <div class="inline m-b">
	                  <div ui-jp="easyPieChart" class="easyPieChart" ui-refresh="app.setting.color" data-redraw='true' data-percent="55" ui-options="{
	                      lineWidth: 8,
	                      trackColor: 'rgba(0,0,0,0.05)',
	                      barColor: '{{app.setting.color.primary}}',
	                      scaleColor: 'transparent',
	                      size: 100,
	                      scaleLength: 0,
	                      animate:{
	                        duration: 3000,
	                        enabled:true
	                      }
	                    }">
	                    <div>
	                      <h5>55%</h5>
	                    </div>
	                  </div>
	                </div>
	                <div>
	                	Completado,
	                	<small class="block m-b">te quedan 29 días</small>
	                	<a href class="btn btn-sm white rounded">Ver detalles</a>
	                </div>
	              </div>
	              <div class="row-cell p-a dker">
	                <div class="inline m-b">
	                  <div ui-jp="easyPieChart" class="easyPieChart" ui-refresh="app.setting.color" data-redraw='true' data-percent="45" ui-options="{
	                      lineWidth: 8,
	                      trackColor: 'rgba(0,0,0,0.05)',
	                      barColor: '{{app.setting.color.warn}}',
	                      scaleColor: 'transparent',
	                      size: 100,
	                      scaleLength: 0,
	                      animate:{
	                        duration: 3000,
	                        enabled:true
	                      }
	                    }">
	                    <div>
	                      <h5>45%</h5>
	                    </div>
	                  </div>
	                </div>
	                <div>
	                	sitios visitados
	                	<small class="block m-b">13/28</small>
	                	<a href class="btn btn-sm white rounded">Ver sitios</a>
	                </div>
	              </div>
	            </div>
	          </div>
	        </div>
	    </div>
	    <div class="col-md-6 col-xl-4">
	    	<div class="box">
	          <div class="box-header">
	            <h3>Your projects</h3>
	            <small>Calculated in last 30 days</small>
	          </div>
	          <div class="box-tool">
		        <ul class="nav">
		          <li class="nav-item inline">
		            <a class="nav-link">
		              <i class="material-icons md-18">&#xe863;</i>
		            </a>
		          </li>
		          <li class="nav-item inline dropdown">
		            <a class="nav-link" data-toggle="dropdown">
		              <i class="material-icons md-18">&#xe5d4;</i>
		            </a>
		            <div class="dropdown-menu dropdown-menu-scale pull-right">
		              <a class="dropdown-item" href>This week</a>
		              <a class="dropdown-item" href>This month</a>
		              <a class="dropdown-item" href>This week</a>
		              <div class="dropdown-divider"></div>
		              <a class="dropdown-item">Today</a>
		            </div>
		          </li>
		        </ul>
		      </div>
	          <div class="box-body">
	            <div ui-jp="plot" ui-refresh="app.setting.color" ui-options="
	              [
	                { data: {{p_l_4}},
	                  points: { show: true, radius: 0},
                  	  splines: { show: true, tension: 0.45, lineWidth: 2, fill: 0.2 }
	                },
	                { data: {{p_l_5}},
	                  points: { show: true, radius: 0},
                  	  splines: { show: true, tension: 0.45, lineWidth: 2, fill: 0.1 }
	                }
	              ],
	              {
	                colors: ['{{app.setting.color.warn}}','{{app.setting.color.primary}}'],
	                series: { shadowSize: 3 },
	                xaxis: { show: true, font: { color: '#ccc' }, position: 'bottom' },
	                yaxis:{ show: true, font: { color: '#ccc' },  min: 2},
	                grid: { hoverable: true, clickable: true, borderWidth: 0, color: 'rgba(120,120,120,0.5)' },
	                tooltip: true,
	                tooltipOpts: { content: '%x.0 is %y.4',  defaultTheme: false, shifts: { x: 0, y: -40 } }
	              }
	            " style="height:200px" >
	            </div>
	          </div>
	        </div>
	    </div>
	    <div class="col-md-6 col-xl-4">
	        <div class="box">
	          <div class="box-header">
	            <h3>Your Sales</h3>
	            <small>A general overview of your sales</small>
	          </div>
	          <div class="box-tool">
		        <ul class="nav">
		          <li class="nav-item inline">
		            <a class="nav-link">
		              <i class="material-icons md-18">&#xe863;</i>
		            </a>
		          </li>
		          <li class="nav-item inline dropdown">
		            <a class="nav-link" data-toggle="dropdown">
		              <i class="material-icons md-18">&#xe5d4;</i>
		            </a>
		            <div class="dropdown-menu dropdown-menu-scale pull-right">
		              <a class="dropdown-item" href>This week</a>
		              <a class="dropdown-item" href>This month</a>
		              <a class="dropdown-item" href>This week</a>
		              <div class="dropdown-divider"></div>
		              <a class="dropdown-item">Today</a>
		            </div>
		          </li>
		        </ul>
		      </div>
	          <div class="box-body">
	            <div ui-jp="plot" ui-refresh="app.setting.color" ui-options="
	              [
	                { data: {{p_b_1}} },
	                { data: {{p_b_4}} }
	              ],
	              {
	                bars: { show: true, fill: true,  barWidth: 0.3, lineWidth: 2, order: 1, fillColor: { colors: [{ opacity: 0.2 }, { opacity: 0.2}] }, align: 'center'},
	                colors: ['{{app.setting.color.primary}}','{{app.setting.color.warn}}'],
	                series: { shadowSize: 3 },
	                xaxis: { show: true, font: { color: '#ccc' }, position: 'bottom' },
	                yaxis:{ show: true, font: { color: '#ccc' }},
	                grid: { hoverable: true, clickable: true, borderWidth: 0, color: 'rgba(120,120,120,0.5)' },
	                tooltip: true,
	                tooltipOpts: { content: '%x.0 is %y.4',  defaultTheme: false, shifts: { x: 0, y: -40 } }
	              }
	            " style="height:200px" >
	            </div>
	          </div>
	        </div>
	    </div>
	</div>

	<div class="row">
		<div class="col-lg-8">
			<div class="box">
				<div class="box-header">
					<h3>Feeds <span class="label success">5</span></h3>
				</div>
				<div class="box-body">
				  	<div class="streamline b-l m-l-md">
		              <div class="sl-item">
		                <div class="sl-left">
		                  <img src="../assets/images/a0.jpg" class="img-circle">
		                </div>
		                <div class="sl-content">
		                  <div class="sl-date text-muted">2 minutes ago</div>
		                  <div class="sl-author">
		                    <a href>Peter Joo</a>
		                  </div>
		                  <div>
		                    <p>Consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat. Phasellus at ultricies neque, quis malesuada augue. Donec eleifend</p>
		                  </div>
		                  <div class="sl-footer">
		                    <a href data-toggle="collapse" data-target="#reply-1">
		                      <i class="fa fa-fw fa-mail-reply text-muted"></i> Reply
		                    </a>
		                  </div>
		                  <div class="box collapse m-a-0 b-a" id="reply-1">
		                    <form>
		                      <textarea class="form-control no-border" rows="3" placeholder="Type something..."></textarea>
		                    </form>
		                    <div class="box-footer clearfix">
		                      <button class="btn btn-info pull-right btn-sm">Post</button>
		                      <ul class="nav nav-pills nav-sm">
		                        <li class="nav-item"><a class="nav-link" href><i class="fa fa-camera text-muted"></i></a></li>
		                        <li class="nav-item"><a class="nav-link" href><i class="fa fa-video-camera text-muted"></i></a></li>
		                      </ul>
		                    </div>
		                  </div>
		                </div>
		              </div>
		              <div class="sl-item">
		                <div class="sl-left">
		                  <img src="../assets/images/a2.jpg" class="img-circle">
		                </div>
		                <div class="sl-content">
		                  <div class="sl-date text-muted">8:30</div>
		                  <div class="sl-author">
		                    <a href>Moke</a>
		                  </div>
		                  <div>
		                    <p>Just followed <a href class="text-info">Jacob</a> and she followed you too.</p>
		                  </div>
		                </div>
		              </div>
		              <div class="sl-item">
		                <div class="sl-left">
		                  <img src="../assets/images/a3.jpg" class="img-circle">
		                </div>
		                <div class="sl-content">
		                  <div class="sl-date text-muted">Sat, 5 Mar</div>
		                  <div class="sl-author">
		                    <a href>Moke</a>
		                  </div>
		                  <blockquote>
		                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante soe aiea ose dos soois.</p>
		                    <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
		                  </blockquote>


			              <div class="sl-item">
			                <div class="sl-left">
			                  <img src="../assets/images/a2.jpg" class="img-circle">
			                </div>
			                <div class="sl-content">
			                  <div class="sl-date text-muted">Sun, 11 Feb</div>
			                  <p><a href class="text-info">Jessi</a> assign you a task <a href class="text-info">Mockup Design</a>.</p>
			                </div>
			              </div>
			              <div class="sl-item">
			                <div class="sl-left">
			                  <img src="../assets/images/a5.jpg" class="img-circle">
			                </div>
			                <div class="sl-content">
			                  <div class="sl-date text-muted">Thu, 17 Jan</div>
			                  <p>Follow up to close deal</p>
			                </div>
			              </div>

		                </div>
		              </div>
		            </div>
		  		</div>
			</div>
		</div>

		<div class="col-lg-4">
			<div class="box">
	    		<div class="box-header">
	    			<h4>Just followed you</h4>
	    		</div>
				<div class="list-group no-radius no-borders">
		            <a class="list-group-item text-ellipsis">
		            	<span class="w-8 rounded m-r-sm success"></span>
		                <img src="../assets/images/a2.jpg" class="w-24 m-r-sm img-circle">
		                <span>Jonathan Morina</span>
		            </a>
		            <a class="list-group-item text-ellipsis">
		            	<span class="w-8 rounded m-r-sm success"></span>
		                <img src="../assets/images/a3.jpg" class="w-24 m-r-sm img-circle">
		                <span>Mason Yarnell</span>
		            </a>
		            <a class="list-group-item text-ellipsis">
		            	<span class="w-8 rounded m-r-sm warning"></span>
		                <img src="../assets/images/a4.jpg" class="w-24 m-r-sm img-circle">
		                <span>Mike Mcalidek</span>
		            </a>
		            <a class="list-group-item text-ellipsis">
		            	<span class="w-8 rounded m-r-sm danger"></span>
		                <img src="../assets/images/a5.jpg" class="w-24 m-r-sm img-circle">
		                <span>Cris Labiso</span>
		            </a>
		            <a class="list-group-item text-ellipsis">
		            	<span class="w-8 rounded m-r-sm dker"></span>
		                <img src="../assets/images/a6.jpg" class="w-24 m-r-sm img-circle">
		                <span>Daniel Sandvid</span>
		            </a>
		            <a class="list-group-item text-ellipsis">
		            	<span class="w-8 rounded m-r-sm dker"></span>
		                <img src="../assets/images/a7.jpg" class="w-24 m-r-sm img-circle">
		                <span>Helder Oliveira</span>
		            </a>
		            <a class="list-group-item text-ellipsis">
		            	<span class="w-8 rounded m-r-sm dker"></span>
		                <img src="../assets/images/a8.jpg" class="w-24 m-r-sm img-circle">
		                <span>Jeff Broderik</span>
		            </a>
		            <a class="list-group-item text-ellipsis">
		            	<span class="w-8 rounded m-r-sm dker"></span>
		                <img src="../assets/images/a9.jpg" class="w-24 m-r-sm img-circle">
		                <span>Daniel Sandvid</span>
		            </a>
		            <a class="list-group-item text-ellipsis">
		            	<span class="w-8 rounded m-r-sm dker"></span>
		                <img src="../assets/images/a0.jpg" class="w-24 m-r-sm img-circle">
		                <span>Helder Oliveira</span>
		            </a>
		            <a class="list-group-item text-ellipsis">
		            	<span class="w-8 rounded m-r-sm dker"></span>
		                <img src="../assets/images/a2.jpg" class="w-24 m-r-sm img-circle">
		                <span>Jeff Broderik</span>
		            </a>
		            <a class="list-group-item text-ellipsis">
		            	<span class="w-8 rounded m-r-sm dker"></span>
		                <img src="../assets/images/a8.jpg" class="w-24 m-r-sm img-circle">
		                <span>Jeff Broderik</span>
		            </a>
		            <a class="list-group-item text-ellipsis">
		            	<span class="w-8 rounded m-r-sm dker"></span>
		                <img src="../assets/images/a9.jpg" class="w-24 m-r-sm img-circle">
		                <span>Daniel Sandvid</span>
		            </a>
		        </div>
		        <div class="p-a">
		        	<a href="#" class="btn white btn-xs rounded m-b-sm">See all</a>
		        </div>
	        </div>
		</div>

	</div>
</div>
